.form_row {
  display: flex;
  flex-direction: row;
  margin-left: 17px;
}

.row {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.left10 {
  margin-left: 1px;
}

.right30 {
  margin-right: 30px;
}

.right10 {
  margin-right: 10px;
}

.box {
  padding-bottom: 10px;
  height: $body-height;
  background-color: #fff;
}
